body {
	padding-top: 70px;
}

h2 {
	margin-top: 40;
}

.avatar{
	width:16px;
	height:16px;
}

.avatar > img {
    margin-right: 5px;
    min-width: 32px;
}

.funding-progressbar {
	margin-top: 15px;
}

.people-table td {
    vertical-align: middle;
}

.stats-table td {
	vertical-align: middle;
	line-height: 32px !important;
}

.people-table td.username {
	width: 120px;
}

.people-table td.text-info {
    white-space: nowrap;
}

.loading > td {
    text-align: center;
    font-style: italic;
}

a.tag:hover {
    text-decoration: none;
}

.item-image {
	width: 32px;
	height: 32px;
}

.tag {
	display: none;
}

a {
	position: relative;
	z-index: 1;
}

.btn {
	position: relative;
	z-index: 1;
}

.hidden {
	display: none;
}

.small {
	font-size: small;
}

.panel-heading {
	overflow: auto;
}

.muted {
	color: gray;
}

.social-link {
	display: inline-block;
	margin-right: 1em;
}

#username {
	vertical-align: middle;
	line-height: 32px;
}

#people-list {
	vertical-align: middle;
	line-height: 16px;
}

.avatar {
	margin-right: 0.5em;
}

#avatar {
	float: left;
	margin-right: 1em;
	display: inline-block;
	height: 32px;
}

#head {
	float: left;
	margin: 0 1em 1em 0;
}

#user-description {
	font-size: normal;
}

.panel-heading {
	display: block;
}