@media (max-width: 1140px) {
	.navbar-right .funding-month {
		display: none;
	}

	.navbar-right .funding-month-small {
		display: inline;
	}
}

@media (max-width: 1030px) {
	.navbar-right .funding-text {
		display: none;
	}
}

@media (max-width: 910px) {
	.funding-progress-container {
		display: none;
	}
}
