{% extends 'base.html.j2' %}

{% block title %}Unknown file extension — Wurstmineberg API{% endblock %}

{% block page_content %}
    <h1>File extension not supported</h1>
    <p>URLs using this API endpoint must end with <code>.json</code>.</p>
    <p><a href="/api/v3">API docs</a></p>
{% endblock %}
