{% from 'macros.html' import wiki, wiki_url, mcwiki, link, twitter_user_url, mojira_user_url, person_display_name_with_muted_minecraft, person_avatar, profile_url, render_flashes %}
{%- extends 'bootstrap/base.html' %}

{% block title %}Wurstmineberg{% endblock %}
{% block metas %}
{{ super() }}
<meta name="description" content="Info site for a minecraft server" />
<meta name="author" content="Wurstmineberg" />
<meta charset="utf-8" />
{% endblock %} {# metas #}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{g.assetserver}}/img/favicon.ico" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{g.assetserver}}/css/common.css" />
<link rel="stylesheet" href="{{g.assetserver}}/css/responsive.css" />

<!-- page specific styles -->
{% block page_styles -%}
{%- endblock %}
{% endblock %} {# styles #}

{% block head %}
{{ super() }}
{% block page_head -%}
{%- endblock %} {# page_head #}
{% endblock %} {# head #}

{% block navbar -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wurstmineberg</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="navbar-list" class="nav navbar-nav">
            <li {% if active_page == 'home' %}class="active"{% endif %}><a href="/"><span class="fa fa-home"></span>Home</a></li>
            <li {% if active_page == 'about' %}class="active"{% endif %}><a href="/about"><span class="fa fa-info-circle"></span>About</a></li>
            <li {% if active_page in ['people', 'profile'] %}class="active"{% endif %}><a href="/people"><span class="fa fa-users"></span>People</a></li>
            <li {% if active_page == 'stats' %}class="active"{% endif %}><a href="/stats"><span class="fa fa-table"></span>Statistics</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-book"></span>Wiki<b class="caret"></b></a>
                <ul class="dropdown-menu p-navigation" id="p-navigation">
                    <li id="n-mainpage-description"><a href="//wiki.{{g.host}}/" title="Visit the main page [ctrl-alt-z]" accesskey="z">Main page</a></li>
                    <li id="n-currentevents"><a href="//wiki.{{g.host}}/Wurstmineberg_Wiki:Current_events" title="Find background information on current events">Current events</a></li>
                    <li id="n-recentchanges"><a href="//wiki.{{g.host}}/Special:RecentChanges" title="A list of recent changes in the wiki [ctrl-alt-r]" accesskey="r">Recent changes</a></li>
                    <li id="n-randompage"><a href="//wiki.{{g.host}}/Special:Random" title="Load a random page [ctrl-alt-x]" accesskey="x">Random page</a></li>
                    <li id="n-help"><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Contents" title="The place to find out">Help</a></li>
                </ul>
            </li>
            <li class="dropdown {% if active_page == 'more' %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-ellipsis-h"></span>More<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="//alltheitems.{{g.host}}/">All The Items</a></li>
                </ul>
            </li>
        </ul>
        {% block navbar_right %}
        <ul class="navbar-personaltools navbar-userloggedin nav navbar-nav navbar-right">
            {% if g.user and g.user.is_authenticated %}
            <li class="navbar-personaltools-tools">
                {% if g.user.person.has_avatar %}
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="You are logged in as {{ g.user.person.display_name }}." aria-expanded="true">{{ person_avatar(g.user.person, 32) }}</a>
                {% else %}
                <a class="dropdown-toggle glyphicon glyphicon-user navbar-user-loggedin" href="#" data-toggle="dropdown" title="You are logged in as Farthen." aria-expanded="true"></a>
                {% endif %}
                <ul class="p-personal-tools dropdown-menu dropdown-menu-right">
                    <li id="pt-userpage"><a href="/people/{{ g.user.wmbid }}" dir="auto" title="Your user page [ctrl-alt-.]" accesskey=".">{{ g.user.person.display_name }}</a></li>
                    <li id="pt-preferences"><a href="/preferences" title="Your preferences">Preferences</a></li>
                    <li id="pt-logout"><a href="/logout" title="Your preferences">Log out</a></li>
                </ul>
            </li>
            {% else %}
            <li>
                <li class="navbar-user-notloggedin"><a href="/login" title="You are not logged in."><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Log in</a>
            </li>
            {% endif %}
        </ul>
        {% endblock %} {# navbar_right #}
    </div><!-- /.navbar-collapse -->
</nav>
{%- endblock %} {# navbar #}

{% block content %}
<!-- Google+ validation -->
<a href="https://plus.google.com/104509175267723597392" rel="publisher" style="display: none;">Google+</a>
<div class="container">
    {% block flashes %}
    {{ render_flashes() }}
    {% endblock %} {# flashes #}

    {% block page_content %}
    {% endblock %}
</div>

{% block footer %}
<hr />
<p class="muted text-center">The People of wurstmineberg.de 2012–2015</p>
{% endblock %} {# footer #}
{% endblock %} {# content #}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//jquerymy.com/js/md5.js"></script>
<script src="{{g.assetserver}}/js/common.js"></script>
<script type="text/javascript">
    // expose current user to js, if logged in
    {% if g.user and g.user.is_authenticated %}
    var currentUser = '{{g.user.wmbid}}';
    {% else %}
    var currentUser = null;
    {% endif %}
    // run by default
    linkifyHeaders();
    configureNavigation();
    setAnchorHeight();
    displayFundingData();
    initializeTooltips();
    // mark as dev.wurstmineberg.de
    if (isDev) {
        $('.navbar-brand').after($('<span>').css({
            color: 'red',
            left: 100,
            position: 'absolute',
            top: 30,
            transform: 'rotate(-10deg) scale(2)',
            'z-index': 10
        }).text('[DEV]'));
    }
</script>
{% block page_scripts %}
{% endblock %}
{% endblock %} {# scripts #}
