{% from 'macros.html' import wiki, mcwiki %}
{%- extends 'bootstrap/base.html' %}

{% block title %}Wurstmineberg{% endblock %}
{% block metas %}
{{ super() }}
<meta name="description" content="Info site for a minecraft server" />
<meta name="author" content="Wurstmineberg" />
<meta charset="utf-8" />
{% endblock %} {# metas #}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{g.assetserver}}/img/favicon.ico" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{g.assetserver}}/css/common.css" />
<link rel="stylesheet" href="{{g.assetserver}}/css/responsive.css" />

<!-- page specific styles -->
{% block page_styles -%}
{%- endblock %}
{% endblock %} {# styles #}

{% block head %}
{{ super() }}
{% block head_additional -%}
<!-- Google+ validation -->
<a href="https://plus.google.com/104509175267723597392" rel="publisher" style="display: none;">Google+</a>
{%- endblock %} {# head_additional #}
{% endblock %} {# head #}



{% block navbar -%}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wurstmineberg</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="navbar-list" class="nav navbar-nav">
            <li><a href="/"><span class="fa fa-home"></span>Home</a></li>
            <li><a href="/about"><span class="fa fa-info-circle"></span>About</a></li>
            <li><a href="/people"><span class="fa fa-users"></span>People</a></li>
            <li><a href="/stats"><span class="fa fa-table"></span>Statistics</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-book"></span>Wiki<b class="caret"></b></a>
                <ul class="dropdown-menu p-navigation" id="p-navigation">
                    <li id="n-mainpage-description"><a href="http://wiki.{{g.host}}/" title="Visit the main page [ctrl-alt-z]" accesskey="z">Main page</a></li>
                    <li id="n-currentevents"><a href="http://wiki.{{g.host}}/Wurstmineberg_Wiki:Current_events" title="Find background information on current events">Current events</a></li>
                    <li id="n-recentchanges"><a href="http://wiki.{{g.host}}/Special:RecentChanges" title="A list of recent changes in the wiki [ctrl-alt-r]" accesskey="r">Recent changes</a></li>
                    <li id="n-randompage"><a href="http://wiki.{{g.host}}/Special:Random" title="Load a random page [ctrl-alt-x]" accesskey="x">Random page</a></li>
                    <li id="n-help"><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/Help:Contents" title="The place to find out">Help</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-ellipsis-h"></span>More<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://alltheitems.{{g.host}}/">All The Items</a></li>
                </ul>
            </li>
        </ul>
        {% block navbar_right %}
        <ul class="navbar-personaltools navbar-userloggedin nav navbar-nav navbar-right">
            {#<li class="navbar-personaltools-tools">
                <a class="dropdown-toggle glyphicon glyphicon-user navbar-user-loggedin" href="#" data-toggle="dropdown" title="You are logged in as Farthen." aria-expanded="true"></a>
                <ul class="p-personal-tools dropdown-menu dropdown-menu-right">
                    <li id="pt-userpage"><a href="/people/person" dir="auto" title="Your user page [ctrl-alt-.]" accesskey=".">Farthen</a></li>
                    <li id="pt-mytalk"><a href="/User_talk:Farthen" class="new" title="Your talk page [ctrl-alt-n]" accesskey="n">Talk</a></li>
                    <li id="pt-preferences"><a href="/Special:Preferences" title="Your preferences">Preferences</a></li>
                    <li id="pt-watchlist"><a href="/Special:Watchlist" title="A list of pages you are monitoring for changes [ctrl-alt-l]" accesskey="l">Watchlist</a></li>
                    <li id="pt-mycontris"><a href="/Special:Contributions/Farthen" title="A list of your contributions [ctrl-alt-y]" accesskey="y">Contributions</a></li>
                    <li id="pt-logout"><a href="/index.php?title=Special:UserLogout&amp;returnto=Main+Page" title="Log out">Log out</a></li>
                </ul>
            </li>#}
            <li>
                <li class="navbar-user-notloggedin"><a href="/login" title="You are not logged in."><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Log in</a>
            </li>
        </ul>
        {% endblock %} {# navbar_right #}
    </div><!-- /.navbar-collapse -->
</nav>
{%- endblock %} {# navbar #}

{% block content %}
<div class="container">
    {% block flashes %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == "error" -%}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {%- else -%}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {%- endif -%}
    {% endfor %}
    {% endwith %}
    {% endblock %} {# flashes #}

    {% block page_content %}
    {% endblock %}
</div>

{% block footer %}
<hr />
<p class="muted text-center">The People of wurstmineberg.de 2012–2015</p>
{% endblock %} {# footer #}
{% endblock %} {# content #}

{% block scripts %}
{{ super() }}
<script src="{{g.assetserver}}/js/underscore-min.js"></script>
<script src="//jquerymy.com/js/md5.js"></script>
<script src="{{g.assetserver}}/js/common.js"></script>
<script type="text/javascript">
    // run by default
    linkify_headers();
    configure_navigation();
    set_anchor_height();
    displayFundingData();
    $(".use-tooltip").tooltip();
    $("abbr").tooltip();
    // mark as dev.wurstmineberg.de
    if (isDev) {
        $('.navbar-brand').after($('<span>').css({
            color: 'red',
            left: 100,
            position: 'absolute',
            top: 30,
            transform: 'rotate(-10deg) scale(2)',
            'z-index': 10
        }).text('[DEV]'));
    }
</script>
{% block page_scripts %}
{% endblock %}
{% endblock %} {# scripts #}
