{% extends 'base.html' %}
{% set active_page = 'error' %}

{% block page_scripts %}
{% endblock %}

{% block title %}Error — Wurstmineberg{% endblock %}

{# Override flashes as we display them further below #}
{% block flashes %}
{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Application Error</h3>
    </div>
    <div class="panel-body">
        <p class="lead">This is a sad time. An error occured.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ message }}
                </div>
                {% endfor %}
            {% elif isinstance(error, Exception) %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error.__class__.__name__ }}: {{ error }}
                </div>
                {% with tb = io.StringIO() %}
                    {% do traceback.print_exc(file=tb) %}
                    <pre>{{ tb.getvalue() }}</pre>
                {% endwith %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    unknown error: {{ error }}
                </div>
            {% endif %}
        {% endwith %}
        <p>Maybe you want to go to the <a href={{ url_for('index') }}>home page</a> instead?</p>
    </div>
    {% if report %}
    <div class="panel-footer">Please report this to the Wurstmineberg site admins.</div>
    {% endif %}
</div>
{% endblock %} {# page_content #}
