{% extends 'base.html.j2' %}

{% block page_scripts %}
{% endblock %}

{% block title %}Error — Wurstmineberg{% endblock %}

{# Override flashes as we display them further below #}
{% block flashes %}
{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Application Error</h3>
    </div>
    <div class="panel-body">
        <p class="lead">This is a sad time. An error occured.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% elif is_exception(error) %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error.__class__.__name__ }}: {{ error }}
                </div>
                {% if report and not reported %}
                    <pre>{{ traceback.format_exc() }}</pre>
                {% endif %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    unknown error: {{ error }}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="panel-footer">
        {% if report %}
            {% if reported %}
                This error has been reported to the Wurstmineberg site admins. We'll try to fix it soon™.
            {% else %}
                <span class="text-danger">Please report this to the Wurstmineberg site admins.</span>
            {% endif %}
        {% else %}
            Maybe you want to go to the <a href="{{ url_for('index') }}">home page</a> instead?
        {% endif %}
    </div>
</div>
{% endblock %} {# page_content #}
