{% extends 'base.html' %}
{% set active_page = 'login' %}

{% block page_scripts %}
{% endblock %}

{% block title %}Login - Wurstmineberg{% endblock %}

{# Override flashes as we display them further below #}
{% block flashes %}
{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
        <p class="lead">To create an account or log in please login using your associated Slack username.</p>
        <p>You can only log in if you are a whitelisted member of our server and in our Slack community. To become a member see {{ link('/about#joining', 'our about page') }} for more instructions. If you don't have Slack yet, please ask in {{ link('/#irc', 'our IRC channel') }} or on {{ link(twitter_user_url('wurstmineberg'), 'Twitter') }} for an invite.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        {% if category == "login_error" -%}
        <div class="alert alert-danger" role="alert">
            <b>Login Error!</b> We were unable to log you in. Reason: {{ message }}
        </div>
        {%- else -%}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {%- endif -%}
        {% endfor %}
        {% endwith %}
        <p><a class="btn btn-default slack-login-button" style="" href="{{ url_for("social.auth", backend="slack") }}?keep=1">Login with <img class="logo" alt="Slack" src="{{g.assetserver}}/img/logo/slack_cmyk_300_86.png" srcset="{{g.assetserver}}/img/logo/slack_cmyk_300_86.png 1x, https://{{g.assetserver}}/img/logo/slack_cmyk_300_86.png 2x"></a></p>
        <p class="muted">We only save your Slack username and its ID.</p>
    </div>
    <div class="panel-footer">
        Wurstmineberg is not created by, affiliated with, or supported by Slack Technologies, Inc.
    </div>
</div>
{% endblock %} {# page_content #}
