{% extends 'base.html' %}
{% set active_page = 'stats' %}

{% block title %}Stats — Wurstmineberg{% endblock %}

{% block page_scripts %}
<script src="{{g.assetserver}}/js/stats.js"></script>
{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics</h3>
    </div>
    <div class="panel-body">
        <p class="lead">These statistics, while mostly useless, are here to make you happy. More or less.</p>
    </div>
</div>
<ul id="pagination" class="nav nav-tabs">
    <li><a id="tab-stats-leaderboard" class="tab-item" href="#leaderboards">Leaderboards</a></li>
    <li><a id="tab-stats-mobs" class="tab-item" href="#mobs">Mobs</a></li>
    <li><a id="tab-stats-advancements" class="tab-item" href="#advancements">Advancements</a></li>
    <li><a id="tab-stats-achievements" class="tab-item" href="#achievements">Achievements</a></li>
    <li><a id="tab-stats-deathgames" class="tab-item" href="#deathgames">Death Games</a></li>
</ul>
<div id="stats-leaderboard" class="section">
    <table id="stats-leaderboard-table" class="table table-responsive stats-table">
        <thead>
            <tr>
                <th>Stat</th>
                <th>Leading player(s)</th>
                <th>Value</th>
                <th>Second place</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr id="loading-stat-leaderboard-table" class="loading-stat">
                <td colspan="5">Loading stat data…</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="stats-mobs" class="section hidden">
    <!--
    <h2>By Mob</h2>
    -->
    <table id="mobs-stats-table-bymob" class="table table-responsive stats-table">
        <thead>
            <tr>
                <th>Mob</th>
                <th>Most killed player(s)</th>
                <th>Value</th>
                <th>Player(s) most killed by</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr id="loading-mobs-bymob" class="loading-stat">
                <td colspan="5">Loading stat data…</td>
            </tr>
        </tbody>
    </table>
    <!--
    <h2>By Player</h2>
    <table id="mobs-stats-table-byplayer" class="table table-responsive stats-table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Most killed mob(s)</th>
                <th>Value</th>
                <th>Mob(s) most killed by</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr id="loading-mobs-byplayer" class="loading-stat">
                <td colspan="5">Loading stat data…</td>
            </tr>
        </tbody>
    </table>
    -->
</div>
<div id="stats-advancements" class="section hidden">
    <p>This tab shows {{ mcwiki('Advancements', 'advancements') }}, a new feature in {{ mcwiki('1.12', 'Minecraft 1.12') }} replacing <a href="#achievements">achievements</a>. Only players who have logged in since {{ mcwiki('17w13a', 'snapshot 17w13a') }} will be displayed here.</p>
    <p>More detailed stats can be found on the <a href="/people">profile pages</a>.</p>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Leaderboard</h2>
            <table id="stats-advancements-table-leaderboard" class="table table-responsive">
                <thead>
                    <tr>
                        <th>Advancements completed</th>
                        <th>Player(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="advancements-leaderboard-row-loading" class="loading-stat">
                        <td colspan="2">Loading advancements data…</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Leaderboard by tab</h2>
            <p>Coming {{ wiki('Soon™', 'soon™') }}</p>
        </div>
    </div>
    <h2>Stats by advancement</h2>
    <p>Coming {{ wiki('Soon™', 'soon™') }}</p>
</div>
<div id="stats-achievements" class="section hidden">
    <p>This tab shows {{ mcwiki('Achievements', 'achievements') }}, an old feature removed in {{ mcwiki('1.12', 'Minecraft 1.12') }} and replaced by <a href="#advancements">advancements</a>. Only players who have not logged in since {{ mcwiki('17w13a', 'snapshot 17w13a') }} will be displayed here.</p>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Achievement Progress</h2>
            <table id="stats-achievements-table-main-track" class="table table-responsive">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Achievement</th>
                        <th>Player(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="achievement-row-none">
                        <td><img class="achievement-image" src="{{g.assetserver}}/img/grid/air.png" /></td>
                        <td class="muted">no achievements yet</td>
                        <td class="achievement-players">&nbsp;</td>
                    </tr>
                    <tr id="achievement-row-loading" class="loading-stat">
                        <td colspan="3">Loading achievement data…</td>
                    </tr>
                    <tr id="achievement-row-noadventuringtime">
                        <td><img class="achievement-image" src="{{g.assetserver}}/img/grid/diamondboots.png" /></td>
                        <td class="muted">all except Adventuring Time</td>
                        <td class="achievement-players">&nbsp;</td>
                    </tr>
                    <tr id="achievement-row-all">
                        <td><img class="achievement-image fancy" src="{{g.assetserver}}/img/grid-wurstpick.png" /></td>
                        <td class="muted">all achievements</td>
                        <td class="achievement-players">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Adventuring Time</h2>
            <table id="stats-achievements-table-biome-track" class="table table-responsive">
                <thead>
                    <tr>
                        <th>Biomes visited</th>
                        <th>Player(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="loading-achievements-table-biome-track" class="loading-stat">
                        <td colspan="2">Loading Adventuring Time data…</td>
                    </tr>
                </tbody>
            </table>
            <p>For players who don't have {{ mcwiki('Achievements#exploreAllBiomes', 'Adventuring Time') }}, only biomes required for the achievement are counted here.</p>
        </div>
    </div>
</div>
<div id="stats-deathgames" class="section hidden">
    <h2>Highlights</h2>
    <table id="deathgames-stats-table" class="table table-responsive stats-table">
        <thead>
            <tr>
                <th>Stat</th>
                <th>Leading player(s)</th>
                <th>Value</th>
                <th>Second place</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% macro deathgames_stats_row(id, name) -%}
            <tr class="deathgames-stats-row" id="deathgames-stat-row-{{ id }}">
                <td class="stat">{{ name }}</td>
                <td class="leading-player">(loading)</td>
                <td class="value">(loading)</td>
                <td class="second-player">(loading)</td>
                <td class="secondvalue">(loading)</td>
            </tr>
            {%- endmacro %}
            {{ deathgames_stats_row('kills', 'Kills') }}
            {{ deathgames_stats_row('deaths', 'Deaths') }}
            {{ deathgames_stats_row('diamonds', 'Diamonds earned (kills minus deaths)') }}
            {{ deathgames_stats_row('attacks', 'Attacks total') }}
            {{ deathgames_stats_row('attacks-success', 'Successful attacks') }}
            {{ deathgames_stats_row('attacks-fail', 'Failed attacks') }}
            {{ deathgames_stats_row('defense', 'Defenses total') }}
            {{ deathgames_stats_row('defense-success', 'Successful defenses') }}
            {{ deathgames_stats_row('defense-fail', 'Failed defenses') }}
        </tbody>
    </table>
    <h2>Log</h2>
    <table id="deathgames-log-table" class="table table-responsive stats-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Attacker</th>
                <th>Target</th>
                <th>Success</th>
            </tr>
        </thead>
        <tbody>
            <tr id="loading-deathgames-log" class="loading-stat">
                <td colspan="4">Loading Death Games log…</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %} {# page_content #}
