upstream _wurstmineberg {
    server unix:/run/uwsgi/app/wurstmineberg/socket;
}

server {
    server_name wurstmineberg.de;
    server_name gharch.wurstmineberg.de;

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    server_name wurstmineberg.de;
    server_name gharch.wurstmineberg.de;

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;

    location / {
        add_header Access-Control-Allow-Origin *;
        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;
        include uwsgi_params;
        uwsgi_pass _wurstmineberg;
    }

    location /api/v3/calendar.ics {
        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;
        proxy_pass http://localhost:24810;
    }
}
