server {
    server_name assets.wurstmineberg.de;
    server_name assets.gharch.wurstmineberg.de;

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    server_name assets.wurstmineberg.de;
    server_name assets.gharch.wurstmineberg.de;

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;

    root /opt/git/github.com/wurstmineberg/assets.wurstmineberg.de/main;
    autoindex on;

    add_header Access-Control-Allow-Origin *;
}
