upstream _wurstmineberg_inner {
    server unix:/run/uwsgi/app/wurstmineberg/socket;
}

server {
    listen 127.0.0.1:24823 default_server;
    listen [::1]:24823 default_server;

    location / {
        add_header Access-Control-Allow-Origin *;
        include uwsgi_params;
        uwsgi_pass _wurstmineberg_inner;
    }
}
